'.source.service':
  "Mount Options":
    "prefix": "Mount Options"
    'body': 'Options='
  'Mount device':
    'prefix': 'device'
    'body': 'What='
  'Mount Type':
    'prefix': 'type'
    'body': 'Type='
  'Mount Options':
    'prefix': 'options'
    'body': 'Options='
  'systemd WantedBy':
    'prefix': 'wantedby'
    'body': 'WantedBy='
  'systemd Wants':
    'prefix': 'wants'
    'body': 'Wants='
  'systemd RequiredBy':
    'prefix': 'requiredby'
    'body': 'RequiredBy='
  'Mount Unit':
    'prefix': 'unit.mount'
    'body':"""
      [Unit]
      Description="${1:Unit Description}"
      ${2:Documentation="}${3:Unit Documentation"}
      /n
      [Mount]
      /n
      ${4:[Install]
      ${5:=}${6:.target}$0
      """
